// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.required:after {
    content:" *";
    color: #ff0000;
}
